{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/espece.css') }}" data-page-specific="{{ app.request.pathinfo }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('turbo:load', function () {
            const fileInput = document.querySelector('input[type="file"][name$="[imageFileName]"]');
            const previewImg = document.getElementById('image-preview');

            if (fileInput && previewImg) {
                fileInput.addEventListener('change', function (e) {
                    const file = e.target.files[0];
                    if (file) {
                        const reader = new FileReader();
                        reader.onload = function (event) {
                            previewImg.src = event.target.result;
                            previewImg.style.display = 'block';
                        };
                        reader.readAsDataURL(file);
                    } else {
                        previewImg.src = '#';
                        previewImg.style.display = 'none';
                    }
                });
            }
        });
    </script>
{% endblock %}



{% block content %}
    <div class="bloc_content">
        <h2>Ajouter une nouvelle espèce</h2>

        {{ form_start(form, {'attr': {'class': 'species-form'}}) }}
        {{ form_widget(form) }}
        <div class="image-preview-container">
            <img id="image-preview" src="#" alt="Aperçu de l'image"/>
        </div>
        <button class="btn btn-success">+ Ajouter</button>
        {{ form_end(form) }}

        <a href="{{ path('admin_liste_especes') }}" class="btn btn-warning" style="margin-top: 1rem; display:inline-block;">← Retour à la liste</a>
    </div>
{% endblock %}
