{% extends 'base.html.twig' %}

{% block content %}
    <h1>Modifier l'espèce "{{ espece.nom }}"</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Mettre à jour</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_liste_especes') }}">← Retour à la liste</a>
{% endblock %}
