{% for subscription in subscriptions %}
    {% if existingSubscription %}
        <div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden"
             id="subscriptionModal{{ subscription.id }}" aria-labelledby="subscriptionModalLabel{{ subscription.id }}"
             aria-hidden="true">
            <div class="flex flex-col bg-white rounded-lg shadow-lg p-6 text-outremer relative lg:min-h-[20rem]">
                <button type="button" class="close-btn text-gray-500 hover:text-gray-700 absolute right-[1rem]">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                         class="h-6 w-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </button>
                <div class="flex justify-between items-center my-4">
                    <h5 class="text-lg w-full text-center font-semibold mt-5"
                        id="subscriptionModalLabel{{ subscription.id }}">Abonnement existant</h5>
                </div>
                <div class="mb-4 text-center">
                    <p>Vous avez déjà un abonnement actif : <span
                            class="font-bold">{{ existingSubscription.subscription.type }}.</span></p>
                    <p class="my-2">Voulez-vous modifier votre abonnement actuel ou attendre la fin de votre abonnement
                        actuel ?</p>
                </div>
                <div class="flex justify-center gap-4 mt-5">
                    <form method="POST" action="">
                        <button type="submit" class="bg-fushia hover:bg-fushia_hover text-white py-2 px-4 rounded-full">
                            Modifier mon abonnement
                        </button>
                    </form>
                    <form method="POST" action="">
                        <button type="submit" class="bg-fushia hover:bg-fushia_hover text-white py-2 px-4 rounded-full">
                            Prévoir mon prochain abonnement
                        </button>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden"
             id="noSubscriptionModal{{ subscription.id }}"
             aria-labelledby="noSubscriptionModalLabel{{ subscription.id }}" aria-hidden="true">
            <div class="flex flex-col justify-center bg-white rounded-lg shadow-lg p-6 text-outremer relative lg:min-h-[20rem]">
                <button type="button" class="close-btn text-gray-500 hover:text-gray-700 absolute top-[1rem] right-[1rem]">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                         class="h-6 w-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </button>
                <div class="flex justify-between items-center mb-4">
                    <h5 class="text-lg w-full text-center font-semibold mb-5"
                        id="noSubscriptionModalLabel{{ subscription.id }}">Pas d'abonnement actif</h5>
                </div>
                <div class="mb-4 text-center">
                    <p>Il semble que vous n'ayez pas d'abonnement actif.</p>
                    <p>Voulez-vous vous abonner à l'un de nos forfaits ?</p>
                </div>
                <form method="POST" action="" class="flex justify-center mt-6">
                    <button type="submit" class="bg-fushia hover:bg-fushia_hover text-white py-2 px-4 rounded-full">
                        M'abonner maintenant
                    </button>
                </form>
            </div>
        </div>
    {% endif %}
{% endfor %}
