{% extends "base.html.twig" %}
{% block title %} Accueil - ONG {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/accueil.css') }}" data-page-specific="{{ app.request.pathinfo }}"/>
{% endblock %}
{% block content %}
    <div class="first-block" style="background-image: url('{{ asset('images/accueil/fond_marin.png') }}')">
        <label>
            ENSEMBLE,<br>
            RENDONS LES OCEANS<br>
            PLUS BLEUS POUR DEMAIN
        </label>
        <label>
            Avec Dive and Collect, vos expéditions sous-marines contribuent directement à la<br>
            préservation des écosystèmes marins, à la protection de la biodiversité, et à la recherche<br>
            mondiale.
        </label>
        <button onclick="window.location.href='{{ path('ONG_Subscription') }}'">Découvrir</button>
    </div>

    <div class="second-block">
        <label class="second-block-title">Ce que Dive & Collect t'apporte</label>
        <div class="card">
            <img src="{{ asset('images/axolot.svg') }}" alt="">
            <label class="card-title">
                Plongez avec une mission :<br>
                protéger la planète
            </label>
            <label class="card-text">
                Chaque plongée avec Dive and Collect<br>
                soutient un réseau mondial de scientifiques<br>
                et d'ONG dédiés à la protection des océans.<br>
                En participant, vous contribuez à collecter<br>
                des données cruciales pour protéger la vie<br>
                marine.
            </label>
        </div>
        <div class="card">
            <img src="{{ asset('images/axolot.svg') }}" alt="">
            <label class="card-title">
                Plongez avec une mission :<br>
                protéger la planète
            </label>
            <label class="card-text">
                Chaque plongée avec Dive and Collect<br>
                soutient un réseau mondial de scientifiques<br>
                et d'ONG dédiés à la protection des océans.<br>
                En participant, vous contribuez à collecter<br>
                des données cruciales pour protéger la vie<br>
                marine.
            </label>
        </div>
        <div class="card">
            <img src="{{ asset('images/axolot.svg') }}" alt="">
            <label class="card-title">
                Plongez avec une mission :<br>
                protéger la planète
            </label>
            <label class="card-text">
                Chaque plongée avec Dive and Collect<br>
                soutient un réseau mondial de scientifiques<br>
                et d'ONG dédiés à la protection des océans.<br>
                En participant, vous contribuez à collecter<br>
                des données cruciales pour protéger la vie<br>
                marine.
            </label>
        </div>
    </div>

    <div class="third-block">
        <label class="pink-subtitle">
            Ils ont contribué au recensement des espèces
        </label>
        <div class="img-container" onclick="window.location.href='{{ path('Species_Map') }}'">
            <img src="{{ asset('images/accueil/carte.png') }}">
            <div class="overlay-text">Carte des espèces</div>
        </div>

    </div>

    <div class="forth-block">
        <label class="pink-subtitle">Ils ont contribué au recensement des espèces</label>
        <div class="carousel-container">
            <button class="arrow left" onclick="scrollCarousel(-1)">❮</button>

            <div class="carousel" id="carousel">
                <!-- 4 cartes exemples -->
                <div class="card-carousel" onclick="window.location.href='{{ path('Gallery') }}'">
                    <img src="{{ asset('images/poisson/blue-tang.jpeg') }}" alt="photo">
                    <div class="info">
                        <div class="name">Lionel</div>
                        <div class="location">Australia, Bay</div>
                    </div>
                </div>

                <div class="card-carousel" onclick="window.location.href='{{ path('Gallery') }}'">
                    <img src="{{ asset('images/poisson/angel-fish.jpeg') }}" alt="photo">
                    <div class="info">
                        <div class="name">Lionel</div>
                        <div class="location">Australia, Bay</div>
                    </div>
                </div>

                <div class="card-carousel" onclick="window.location.href='{{ path('Gallery') }}'">
                    <img src="{{ asset('images/poisson/goby.jpeg') }}" alt="photo">
                    <div class="info">
                        <div class="name">Lionel</div>
                        <div class="location">Australia, Bay</div>
                    </div>
                </div>

                <div class="card-carousel" onclick="window.location.href='{{ path('Gallery') }}'">
                    <img src="{{ asset('images/poisson/lionfish.jpeg') }}" alt="photo">
                    <div class="info">
                        <div class="name">Lionel</div>
                        <div class="location">Australia, Bay</div>
                    </div>
                </div>

                <div class="card-carousel" onclick="window.location.href='{{ path('Gallery') }}'">
                    <img src="{{ asset('images/poisson/clownfish.jpeg') }}" alt="photo">
                    <div class="info">
                        <div class="name">Lionel</div>
                        <div class="location">Australia, Bay</div>
                    </div>
                </div>
            </div>

            <button class="arrow right" onclick="scrollCarousel(1)">❯</button>
        </div>

        <button class="add-button" onclick="window.location.href='{{ path('Gallery') }}'">+ Ajouter ma photo</button>
    </div>

    <script>
        function scrollCarousel(direction) {
            const carousel = document.getElementById('carousel');
            const cardWidth = carousel.querySelector('.card-carousel').offsetWidth + 20; // 20 = gap
            carousel.scrollBy({
                left: direction * cardWidth,
                behavior: 'smooth'
            });
        }
    </script>

    <div class="first-block" style="background-image: url('{{ asset('images/accueil/fond_marin.png') }}')">
        <label>
            ENSEMBLE,<br>
            RENDONS LES OCEANS<br>
            PLUS BLEUS POUR DEMAIN
        </label>
        <label>
            Avec Dive and Collect, vos expéditions sous-marines contribuent directement à la<br>
            préservation des écosystèmes marins, à la protection de la biodiversité, et à la recherche<br>
            mondiale.
        </label>
        <button onclick="window.location.href='{{ path('ONG_Subscription') }}'">Découvrir</button>
    </div>
{% endblock %}