{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" data-page-specific="{{ app.request.pathinfo }}" />
    <link rel="stylesheet" href="{{ asset('styles/map_especes.css') }}" data-page-specific="{{ app.request.pathinfo }}"/>
{% endblock %}

{% block content %}
    <div class="container bloc_content"><aside class="sidebar">
            <h3>Fish Species</h3>

            <div>
                <label>
                    <button id="toggle-all">Check / Uncheck All</button>
                </label>
            </div>
            <div class="search-container">
                <input
                        type="search"
                        id="search-fish"
                        placeholder="Search a species..."
                        aria-label="Search fish species"
                />
            </div>

            {% for poisson in poissons %}
                <div>
                    <label>
                        <input type="checkbox" class="espece-checkbox" value="{{ poisson.nom }}" checked>
                        {{ poisson.nom }}
                    </label>
                </div>
            {% endfor %}
        </aside>

        <section id="map"></section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <script>
        window.poissonPoints = [
            {% for poisson in poissons %}
            {% for coord in poisson.coordonnees %}
            {
                espece: "{{ poisson.nom|e('js') }}",
                lat: {{ coord.latitude }},
                lng: {{ coord.longitude }}
            },
            {% endfor %}
            {% endfor %}
        ];
    </script>

    <script src="{{ asset('scripts/map_especes.js') }}"></script>
{% endblock %}
