{% extends "base.html.twig" %}
{% block title %}Classement - ONG{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/ong_classement.css') }}" data-page-specific="{{ app.request.pathinfo }}"/>
{% endblock %}

{% block content %}
<div class="classement bloc_content">
    <h1>Classement des ONG</h1>
    {% for ong in ongs %}
        <div class="ong gradient gradient-{{ loop.index }}">
            <div class="number">{{ loop.index }}.</div>
            <div class="avatar-container">
{#                <img src="{{ asset('images/' ~ ong.avatar) }}" alt="{{ ong.name }}" class="avatar"/>#}
                <img src="{{ asset('images/utilisateur-de-profil.png') }}" alt="{{ ong.nomOng }}" class="avatar"/>
                {% for badge in ong.badges | slice(0, 1) %}
{#                    <img src="{{ asset('images/badges/' ~ badge) }}" alt="Badge {{ badge }}" class="badge badge-{{ loop.index }}"/>#}
                    <img src="{{ asset('images/poissonBadgeDefaut.png') }}" alt="Badge {{ badge.nom }}" class="badge badge-{{ loop.index }}"/>
                {% endfor %}
            </div>
            <div class="name" title="{{ ong.nomOng }}">{{ ong.nomOng | truncate(60) }}</div>
            <div class="score">{{ ong.points }}</div>
            <div class="axolot">
                <img src="{{ asset('images/axolot.svg') }}" alt="Axolot">
            </div>
        </div>

    {% endfor %}
</div>
{% endblock %}