{% extends "base.html.twig" %}
{% block title %}Classement - ONG{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/ong_classement.css') }}" data-page-specific="{{ app.request.pathinfo }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('scripts/classement.js') }}"></script>
{% endblock %}

{% block content %}
<div class="classement bloc_content">
    <h1>Leaderboard</h1>
    <div class="select-role" data-default-role="ongs">
        <button class="active" data-role="ongs">NGOs</button>
        <button data-role="utilisateurs">Users</button>
    </div>
    {% for role, users in top %}
        {% for user in users %}
            <div onclick="window.location.href='/user/account/{{ user.id }}';" class="ligne gradient gradient-{{ loop.index }} role-{{ role }}" data-role="{{ role }}">
                <div class="number">{{ loop.index }}</div>
                <div class="avatar-container">
                    <img src="{{ user.logoFileName ? asset('uploads/user_logos/' ~ user.logoFileName) : asset('images/utilisateur-de-profil.png') }}" alt="{{ role == 'ongs' ? user.nomOng : user.username }}" class="avatar"/>
                    <img src="{{ asset('images/' ~ user.badge.badgeFileName) }}" alt="Badge {{ user.badge.nom }}" class="badge badge-1 only-one-badge"/>
                </div>
                <div class="name" title="{{ role == 'ongs' ? user.nomOng : user.username }}">{{ role == 'ongs' ? user.nomOng : user.username | truncate(60) }}</div>
                <div class="score">{{ user.points }}</div>
                <div class="axolot">
                    <img src="{{ asset('images/axolot.svg') }}" alt="Axolot">
                </div>
            </div>
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}