{% extends "base.html.twig" %}
{% block title %}Account of {{ user.username }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/comptePresentation.css') }}" data-page-specific="{{ app.request.pathinfo }}">
{% endblock %}
{% block content %}
{#    <div class="account-card bloc_content">#}
{#        <h2>Compte ONG</h2>#}

{#        <form method="post" >#}
{#            <div class="form-group">#}
{#                <label for="name">Nom de l'ONG</label>#}
{#                <input type="text" id="name" name="name" >#}
{#            </div>#}

{#            <div class="form-group">#}
{#                <label for="points">Nombre de points</label>#}
{#                <input type="text" id="points" name="points"  readonly>#}
{#            </div>#}

{#            <div class="form-group">#}
{#                <label for="email">Email</label>#}
{#                <input type="email" id="email" name="email"  readonly>#}
{#            </div>#}

{#            <div class="form-group">#}
{#                <label for="contact_name">Nom du contact</label>#}
{#                <input type="text" id="contact_name" name="contact_name" >#}
{#            </div>#}

{#            <div class="actions">#}
{#                <button class="btn-reset" type="submit" >Reset mot de passe</button>#}
{#            </div>#}
{#        </form>#}
{#    </div>#}
<div class="account-container bloc_content">
    {% if 'ROLE_ONG' not in user.roles %}
        <h1 class="account-title">{{ user.username }}</h1>
    {% else %}
        <h1 class="account-title">{{ user.nomOng }}</h1>
    {% endif %}

    <div class="user-logo">
        <img src="{{ asset('images/utilisateur-de-profil.png') }}" alt="User Logo">
    </div>
    <div class="account-info">
        <p><span class="label">Email:</span> {{ user.email }}</p>
    </div>

    <div class="account-stats">
        {% if 'ROLE_ONG' not in user.roles %}
            <div class="stat-card">
                <h3>Total Likes</h3>
                <p>0</p>
            </div>
        {% endif %}
        <div class="stat-card">
            <h3>Total Points</h3>
            <p>0</p>
        </div>
    </div>

    <div class="user-posts">
        <h2>User Posts</h2>
        <div class="posts-grid">
        </div>
    </div>
</div>
<!-- Ajoute ici les infos supplémentaires que tu veux afficher -->

{% endblock %}