{% extends "base.html.twig" %}
{% block title %}Account of {{ user.username }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link
            rel="stylesheet"
            href="https://unpkg.com/leaflet/dist/leaflet.css"
    />
    <link rel="stylesheet" href="{{ asset('styles/gallery.css') }}" data-page-specific="{{ app.request.pathinfo }}"/>
    <link rel="stylesheet" href="{{ asset('styles/comptePresentation.css') }}" data-page-specific="{{ app.request.pathinfo }}">
    <link rel="stylesheet" href="{{ asset('styles/liste_missions.css') }}" data-page-specific="{{ app.request.pathinfo }}"/>
    {{ block('stylesheets', 'components/MissionDetails.html.twig') }}
    {{ include('components/Dialog.html.twig', {maxWidth: '1130px', _only_blocks: ['stylesheets']}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="{{ asset('scripts/liste_missions.js') }}"></script>
    {{ block('javascripts', 'components/Dialog.html.twig') }}
    {{ block('javascripts', 'components/MissionDetails.html.twig') }}

    <script>
        const likeUrlTemplate = "{{ path('api_upvote', {'id': '__ID__'}) }}";
        const like_on = "{{ asset('images/like_on.svg') }}";
        const like_off = "{{ asset('images/like_off.svg') }}";
    </script>
    <script src="{{ asset('scripts/gallery.js') }}"></script>
    <script>
        function switchTab(tabName) {
            document.querySelectorAll('.tab-content').forEach(tab => {
                tab.classList.add('hidden');
            });
            document.getElementById(tabName).classList.remove('hidden');

            document.querySelectorAll('.tab-btn').forEach(btn => {
                btn.classList.remove('active');
            });
            event.target.classList.add('active');
        }
    </script>

    <script>
        document.addEventListener('turbo:load', function () {
            const editButton = document.getElementById('edit-logo-button');
            const modal = document.getElementById('image-upload-modal');
            const cancelButton = document.getElementById('cancel-button');
            const confirmButton = document.getElementById('confirm-button');
            const fileInput = document.getElementById('file-input');
            const imagePreview = document.getElementById('image-preview');

            if (editButton) {
                editButton.addEventListener('click', () => {
                    modal.style.display = 'flex';
                });
            }

            if (cancelButton) {
                cancelButton.addEventListener('click', () => {
                    modal.style.display = 'none';
                    fileInput.value = "";
                });
            }

            if (confirmButton) {
                confirmButton.addEventListener('click', () => {
                    const file = fileInput.files[0];
                    console.log(file);
                    if (!file) {
                        alert("Veuillez sélectionner une image.");
                        return;
                    }

                    const formData = new FormData();
                    formData.append('file', file);

                    if (Object.keys(formData).length === 0)
                    {
                        alert('l\'image n\'est pas compatible. merci d\'en selectionner une autre');
                        cancelButton.click();
                        return;
                    }

                    fetch('{{ path('upload_user_logo') }}', {
                        method: 'POST',
                        body: formData,
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Erreur lors du téléchargement.');
                            }
                            return response.json();
                        })
                        .then(data => {
                            if (data.success) {
                                location.reload(); // rafraîchit la page
                            } else {
                                alert("Erreur : " + data.error);
                            }
                        })
                        .catch(error => {
                            alert("Erreur lors de l’envoi de l’image : " + error.message);
                        });
                });
            }

            fileInput.addEventListener('change', function () {
                const file = fileInput.files[0];
                if (file && file.type.startsWith('image/')) {
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        imagePreview.src = e.target.result;
                        imagePreview.style.display = 'block';
                        imagePreview.style.maxWidth = '200px';
                        imagePreview.style.marginTop = '10px';
                    };
                    reader.readAsDataURL(file);
                } else {
                    imagePreview.style.display = 'none';
                    imagePreview.src = '';
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
<div class="account-container ">
    {% if 'ROLE_ONG' not in user.roles %}
        <h1 class="account-title">{{ user.username }}</h1>
    {% else %}
        <h1 class="account-title">{{ user.nomOng }}</h1>
    {% endif %}

    <div class="user-logo-container">
        <div class="user-logo">
            <img src="{{ user.logoFileName ? asset('uploads/user_logos/' ~ user.logoFileName) : asset('images/utilisateur-de-profil.png') }}"
                 alt="User Logo" id="user-logo-img">
            {% if app.user.id == user.id %}
                <button class="edit-logo-button" id="edit-logo-button" title="Changer la photo">
                    ✏️
                </button>
            {% endif %}
        </div>
    </div>
    <div class="account-info">
        <p><span class="label">Email:</span> {{ user.email }}</p>
    </div>

    <div class="account-stats">
        <div class="stat-card">
            <h3>Total Points</h3>
            <p style="text-align: center">{{ user.points }}</p>
        </div>
    </div>
    {% if app.user.id == user.id %}
        <div class="logout-button-container">
            <form method="post" action="{{ path('app_logout') }}">
                <button type="submit" class="btn-logout">Se déconnecter</button>
            </form>
        </div>
    {% endif %}

    <div class="section-divider"></div>

    {% if 'ROLE_ONG' in user.roles %}
        <div class="tabs-container">
            <div class="tab-buttons">
                <button class="tab-btn active" onclick="switchTab('missions')">Missions</button>
                <button class="tab-btn" onclick="switchTab('photos')">Photos</button>
            </div>

            <div id="missions" class="tab-content">
                <div class="user-posts">
                    <h2>Missions</h2>
                    {% include 'partials/_mission.html.twig' with {
                        missions: missionsAccount
                    } %}
                </div>
            </div>

            <div id="photos" class="tab-content hidden">
                <div class="user-posts">
                    <h2>User Posts</h2>
                    {% include 'partials/_gallery.html.twig' with {
                        galleryItems: galleryItems,
                        currentUser: app.user
                    } %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="user-posts">
            <h2>User Posts</h2>
            {% include 'partials/_gallery.html.twig' with {
                galleryItems: galleryItems,
                currentUser: app.user
            } %}
        </div>
    {% endif %}


</div>

    {% include 'partials/_modalError.html.twig' %}

    {% if app.user.id == user.id %}
        <div class="modal" id="image-upload-modal" style="display:none;">
            <div class="modal-content">
                <h2>Changer l’image de profil</h2>
                <img id="image-preview" src="" alt="Aperçu de l'image" style="display:none;"/>
                <input type="file" id="file-input" accept="image/png, image/jpeg, image/jpg">
                <div class="modal-buttons">
                    <button id="cancel-button">Annuler</button>
                    <button id="confirm-button">OK</button>
                </div>
            </div>
        </div>
    {% endif %}


{% endblock %}