{% extends "base.html.twig" %}
{% block title %}Account of {{ user.username }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/comptePresentation.css') }}" data-page-specific="{{ app.request.pathinfo }}">
{% endblock %}
{% block content %}
<div class="account-container ">
    {% if 'ROLE_ONG' not in user.roles %}
        <h1 class="account-title">{{ user.username }}</h1>
    {% else %}
        <h1 class="account-title">{{ user.nomOng }}</h1>
    {% endif %}

    <div class="user-logo">
        <img src="{{ asset('images/utilisateur-de-profil.png') }}" alt="User Logo">
    </div>
    <div class="account-info">
        <p><span class="label">Email:</span> {{ user.email }}</p>
    </div>

    <div class="account-stats">
        {% if 'ROLE_ONG' not in user.roles %}
            <div class="stat-card">
                <h3>Total Likes</h3>
                <p>0</p>
            </div>
        {% endif %}
        <div class="stat-card">
            <h3>Total Points</h3>
            <p>0</p>
        </div>
    </div>
    {% if app.user.id == user.id %}
        <div class="logout-button-container">
            <form method="post" action="{{ path('app_logout') }}">
                <button type="submit" class="btn-logout">Se déconnecter</button>
            </form>
        </div>
    {% endif %}
    <div class="user-posts">
        <h2>User Posts</h2>
        <div class="posts-grid">
        </div>
    </div>
</div>
<!-- Ajoute ici les infos supplémentaires que tu veux afficher -->

{% endblock %}