{% extends "base.html.twig" %}
{% block title %}Forfaits - ONG{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/ong_forfait.css') }}" data-page-specific="{{ app.request.pathinfo }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('scripts/forfaits.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="bloc_content flex-center">
        <h1>Choisissez votre formule d'abonnement</h1>
        <div class="forfaits" id="forfaits-container">
            <div class="title"></div>
            <div class="forfaits-grid">
                {% for f in forfaits %}
                    <div class="forfait" data-forfait-id="{{ f.id }}" data-role="{{ f.role }}">
                        <div class="top">
                            <h2 class="nom">{{ f.nom }}</h2>
                            <h3 class="price">1000€ / mois</h3>
                            <h5 class="description">{{ f.description }}</h5>
                        </div>
                        <ul>
                            {% for lot in f.lots %}
                                <li>
                                    <div class="header">
                                        {{ lot.nom }}
                                        <i class="material-icons arrow">arrow_forward_ios</i>
                                    </div>
                                    <div class="description">
                                        {{ lot.description }}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="spacer"></div>
                        {% if f.role != 'FORFAIT_ONG_PERSO' %}
                            <button class="button">SELECTIONNER</button>
                        {% else %}
                            <button class="show-lots button">VOIR LES LOTS</button>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="order-summary">
                <form action="{{ path('ONG_Subscription') }}" method="post" id="order-forfait-form">
                    <input type="hidden" name="selected_lots" id="selected-forfait" value="">
                    <button type="submit" class="btn btn-success" disabled>COMMANDER</button>
                </form>
            </div>
        </div>

        <div class="lots" id="lots-container" style="display: none;">
            <div class="title retour">
                <i class="material-icons">arrow_back_ios_new</i>
                <h2>Forfait personalisé</h2>
            </div>
            <div class="lots-grid">
                {% for lot in lots %}
                    <div class="lot" data-lot-id="{{ lot.id }}">
                        <h3 class="nom">{{ lot.nom }}</h3>
                        <h4 class="price">{{ lot.prix }}€ / mois</h4>
                        <h5 class="description">{{ lot.description }}</h5>
                        <div class="spacer"></div>
                        <button class="button">SELECTIONNER</button>
                    </div>
                {% endfor %}
            </div>
            <div class="order-summary">
                <h3>Total par mois : <span id="total-price" class="price-animation">0.00</span>€</h3>
                <form action="{{ path('ONG_Subscription') }}" method="post" id="order-lots-form">
                    <input type="hidden" name="selected_lots" id="selected-lots" value="">
                    <button type="submit" class="btn btn-success" disabled>COMMANDER</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
