{% extends "base.html.twig" %}
{% block title %} Gallery {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link
            rel="stylesheet"
            href="https://unpkg.com/leaflet/dist/leaflet.css"
    />
    <link rel="stylesheet" href="{{ asset('styles/gallery.css') }}" data-page-specific="{{ app.request.pathinfo }}"/>
    <link rel="stylesheet" href="{{ asset('styles/modal_delete.css') }}" data-page-specific="{{ app.request.pathinfo }}"/>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('scripts/gallery.js') }}"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        const addImgInMission = "{{ path('api_addInMyMission') }}";
        const rmImgInMission = "{{ path('api_removeInMyMission') }}";
        const likeUrlTemplate = "{{ path('api_upvote', {'id': '__ID__'}) }}";
        const like_on = "{{ asset('images/like_on.svg') }}";
        const like_off = "{{ asset('images/like_off.svg') }}";
        const deleteUrlTemplate = "{{ path('api_delete_photo', {'id': '__ID__' }) }}"
    </script>
{% endblock %}
{% block content %}
    <div class="bloc_content">
        {% include 'partials/_gallery.html.twig' with {
            galleryItems: galleryItems,
            currentUser: app.user
        } %}
        {% include 'partials/_modalError.html.twig' %}
    </div>
{% endblock %}