{% extends "base.html.twig" %}
{% block title %} ONG MISSIONS {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/liste_missions.css') }}" data-page-specific="{{ app.request.pathinfo }}"/>
    {{ block('stylesheets', 'components/MissionDetails.html.twig') }}
    {{ include('components/Dialog.html.twig', {maxWidth: '1130px', _only_blocks: ['stylesheets']}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('scripts/liste_missions.js') }}"></script>
    {{ block('javascripts', 'components/Dialog.html.twig') }}
    {{ block('javascripts', 'components/MissionDetails.html.twig') }}
{% endblock %}
{% block content %}
    {{ block('content', 'components/Dialog.html.twig') }}
    <div class="bloc_content">
        {% include 'partials/_mission.html.twig' with {
            missions: missions
        } %}
    </div>
{% endblock %}