{% extends 'base.html.twig' %}

{% block title %}Modifier la photo{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="{{ asset('scripts/charger_carte.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <style>
        #map {
            height: 400px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
        }</style>
    <link rel="stylesheet" href="{{ asset('styles/edit_photo.css') }}" data-page-specific="{{ app.request.pathinfo }}"/>
{% endblock %}

{% block content %}
    <div class="container mt-4">

        {{ form_start(form) }}

        <h1>Edit picture</h1>
        <div class="card-content">
            <img src="{{ asset('uploads/photos/' ~ photo.imageFileName) }}" alt="Photo actuelle" class="img-fluid" style="max-width: 400px;">
            <div class="divider"></div>
            <div class="form-content">
                <div class="mb-3">
                    {{ form_label(form.espece) }}
                    {{ form_widget(form.espece, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.espece) }}
                </div>

                <div class="lieu">
                    {{ form_label(form.coordonnees) }}
                    <div id="map"></div>

                    <div class="lat-long">
                        <div class="value">
                            {{ form_label(form.coordonnees.latitude) }}
                            {{ form_widget(form.coordonnees.latitude, {'attr': {'class': 'form-control', 'readonly': true}}) }}
                            {{ form_errors(form.coordonnees.latitude) }}
                        </div>

                        <div class="value">
                            {{ form_label(form.coordonnees.longitude) }}
                            {{ form_widget(form.coordonnees.longitude, {'attr': {'class': 'form-control', 'readonly': true}}) }}
                            {{ form_errors(form.coordonnees.longitude) }}
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <button class="btn btn-primary">Save</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

