{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/components/scrollCarousel.css') }}"/>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('scripts/components/scrollCarousel.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="carousel-container">
        <button class="arrow left" onclick="scrollCarousel({{ carouselId|default('carousel') }}, -1)">❮</button>
        <div class="carousel" id="{{ carouselId|default('carousel') }}">
            {% for image in images %}
                <div class="card-carousel" {% if card_click_action is defined %}onclick="{{ card_click_action }}"{% endif %}>
                    <img src="{{ asset('uploads/photos/' ~ image.imagefilename) }}" alt="">
                    <div class="info">
                        <div class="name">{{ image.espece.nom }}</div>
                        {% if 'ROLE_ONG' not in image.auteur.roles %}
                            <div class="location">{{ image.auteur.username }}</div>

                        {% else %}
                            <div class="location">{{ image.auteur.nomOng }}</div>

                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <button class="arrow right" onclick="scrollCarousel({{ carouselId|default('carousel') }}, 1)">❯</button>
        </div>
    </div>
{% endblock %}