<p>Bonjour,</p>
<p>Voici une nouvelle demande d'ajout de spot:</p>
<p>longitude: {{ longitude }}</p>
<p>latitude: {{ latitude }}</p>
<p>description: <br>
{{description }}</p>

<p>Cordialement,</p>
<p>{{ user.firstname }} {{ user.lastname }}</p>
