{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ asset('styles/map_especes.css') }}" />
{% endblock %}

{% block body %}
    <div class="container">
        <aside class="sidebar">
            <h3>Espèces de poissons</h3>

            <div>
                <label>
                    <input type="checkbox" id="toggle-all" checked>
                    Tout cocher / décocher
                </label>
            </div>

            {% for poisson in poissons %}
                <div>
                    <label>
                        <input type="checkbox" class="espece-checkbox" value="{{ poisson.nom }}" checked>
                        {{ poisson.nom }}
                    </label>
                </div>
            {% endfor %}
        </aside>

        <section id="map"></section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <script>
        window.poissonPoints = [
            {% for poisson in poissons %}
            {% for coord in poisson.coordonnees %}
            {
                espece: "{{ poisson.nom|e('js') }}",
                lat: {{ coord.latitude }},
                lng: {{ coord.longitude }}
            },
            {% endfor %}
            {% endfor %}
        ];
    </script>

    <script src="{{ asset('js/map_especes.js') }}"></script>
{% endblock %}
