{% extends '../base.html.twig' %}

{% block content %}
<div class="flex w-full justify-between" style="max-height: 100vh;">
    <div class="bg-lagon pt-10">
        {{ form_start(spotForm, {'attr': {'class': 'w-full mt-20 px-3 flex flex-col items-center text-outremer'}}) }}
            {{ form_label(spotForm.search) }}
            {{ form_widget(spotForm.search) }}
            {{ form_label(spotForm.checkboxes) }}
            {{ form_widget(spotForm.checkboxes) }}
        {{ form_end(spotForm) }}
    </div>
    <div id="map" style="height: 100vh; width: 100%;"></div>
    <button id="interventionBtn" class="w-8 rounded-xl text-2xl" onclick="showAllDives()">&#x2B9C;</button>
    <div id="modalIntervention" class="inset-0 w-2/6 flex bg-black bg-opacity-50 hidden">
        <div class="bg-white p-3 w-full flex border-t">
            <div class="flex">
                <button id="fermerintervention" class="text-2xl">
                    &#x2B9E;
                </button>
            </div>
            <div class="w-full h-auto overflow-y-auto">
                <div class="flex w-full justify-end items-center relative">
                    <div class="w-full flex flex-col text-center"><h3 class="text-outremer font-bold text-3xl w-full mb-2">Interventions</h3>
                        <h4 id="modalTitle" class="text-lagon text-2xl">Toutes les interventions</h4>
                    </div>
                    <div id="newDiveButton" class="flex absolute items-center justify-center top-1 right-7 hidden">
                        <a href="{{ path('app_dive_new') }}" class="text-white w-8 h-8 bg-fushia rounded-full flex items-center justify-center">&#x271a;</a>
                    </div>
                </div>
                <div>
                    {{ form_start(spotFilterInterventionForm, {'attr': {'class':'flex items-center w-full'}}) }}
                    {{ form_end(spotFilterInterventionForm) }}
                </div>
                <div id="divesList" class="flex flex-col h-full pl-8">
                </div>
            </div>
        </div>
    </div>
</div>
    <div id="spots-data" data-spots="{{ spots|json_encode|e('html_attr') }}"></div>
    <div id="dives-data" data-dives="{{ dive|json_encode|e('html_attr') }}"></div>
{% endblock %}
